
* { box-sizing: border-box; }
.itemDetail__video {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.itemDetail__video,
.itemDetail video {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.itemDetail__info img {
  top: 0;
  color: #fff;
  margin: 10px;
}
.itemDetail > img{
    border-radius: 10%;
    
   
}

.itemDetail__info img { position:relative; top: 0; right: 0; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.itemDetail__tittle { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.itemDetail__info p img { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}