.itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCount__minusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}
.itemCount__quantity {
    font-size: 2rem;
}
.itemCount__plusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}
.itemCount__addToCartBtn {
    margin-left: 2rem;
    border: none;
    background: rgba(252, 52, 2, 0.671);
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    padding-bottom: 0.1rem;
    text-align: center;
}

@media (min-width: 600px) {
    
}